In [410]:
import numpy as np
import pandas as pd

### 1. Summary of our data
With the trend toward audiobooks growing, I gathered this data to understand how the audiobook market has been growing over the years. From authors of audiobooks to release dates, the data represents the important details of audiobooks from 1998 till 2025 (pre-planned releases).

I have yet to find a great audiobooks dataset and hence the urge to make a dataset that provides us with information on the basics and the history of audiobooks. I look to improve the dataset with more details in the near future.

In [411]:
audio = pd.read_csv('audible_uncleaned.csv')
audio

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00
...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Writtenby:ChrisStewart,Narratedby:ChrisStewart,7 hrs and 34 mins,09-03-17,English,Not rated yet,596.00
87485,The Alps,Writtenby:StephenO'Shea,Narratedby:RobertFass,10 hrs and 7 mins,21-02-17,English,Not rated yet,820.00
87486,The Innocents Abroad,Writtenby:MarkTwain,Narratedby:FloGibson,19 hrs and 4 mins,30-12-16,English,Not rated yet,938.00
87487,A Sentimental Journey,Writtenby:LaurenceSterne,Narratedby:AntonLesser,4 hrs and 8 mins,23-02-11,English,Not rated yet,680.00
87488,Havana,Writtenby:MarkKurlansky,Narratedby:FleetCooper,6 hrs and 1 min,07-03-17,English,Not rated yet,569.00

## columns Description

- **name:** Name of the audiobook
- **author:** Author of the audiobook
- **narrator:** Narrator of the audiobook
- **time:** Length of the audiobook
- **releasedate:** Release date of the audiobook
- **language:** Language of the audiobook
- **stars:** No. of stars the audiobook received
- **price:** Price of the audiobook in INR
-**ratings:** No. of reviews received by the audiobook

## issue with dataset
- **dirty data**
    - in star colums star and rating is merged ='validity'
    - in time columns it is in alphabetic  = 'accuracy'
    - price columns has missing values = 'completion'
- **messy data**
    - author and narrator columns has name in wrong format
    - releasedata and time columns has has wrong datatype

In [412]:
audio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  object
 5   language     87489 non-null  object
 6   stars        87489 non-null  object
 7   price        87489 non-null  object
dtypes: object(8)
memory usage: 5.3+ MB

In [413]:
audio[audio['name'].duplicated()]['name'].value_counts()
audio[audio.duplicated(subset=['name','author','narrator'])]

,name,author,narrator,time,releasedate,language,stars,price
18,Merlin Mission Collection,Writtenby:MaryPopeOsborne,Narratedby:MaryPopeOsborne,10 hrs and 18 mins,02-05-17,English,5 out of 5 stars11 ratings,"1,256.00"
54,Merlin Mission Collection,Writtenby:MaryPopeOsborne,Narratedby:MaryPopeOsborne,13 hrs and 24 mins,02-05-17,English,5 out of 5 stars8 ratings,"1,256.00"
1882,Egg Marks the Spot,Writtenby:AmyTimberlake,Narratedby:MichaelBoatman,3 hrs and 54 mins,14-09-21,English,Not rated yet,398.00
2162,Fish,Writtenby:LisaJ.Amstutz,Narratedby:anonymous,18 mins,23-02-22,English,Not rated yet,93.00
2244,The Snail and the Whale,Writtenby:JuliaDonaldson,Narratedby:ImeldaStaunton,22 mins,22-06-21,English,Not rated yet,251.00
...,...,...,...,...,...,...,...,...
86656,Venice,Writtenby:JanMorris,Narratedby:SebastianComberti,5 hrs and 16 mins,09-08-10,English,Not rated yet,668.00
86725,Audiowalk Berlin,Writtenby:TaufigKhalil,Narratedby:TaufigKhalil,1 hr and 12 mins,01-06-05,german,Not rated yet,334.00
86746,City Surf,Writtenby:CitySurf,Narratedby:uncredited,32 mins,23-10-07,English,Not rated yet,234.00
86747,City Surf,Writtenby:CitySurf,Narratedby:uncredited,52 mins,23-10-07,English,Not rated yet,234.00
86749,City Surf,Writtenby:CitySurf,Narratedby:uncredited,40 mins,23-10-07,English,Not rated yet,234.00

In [414]:
audio[audio['name']=='The Art of War']

,name,author,narrator,time,releasedate,language,stars,price
15112,The Art of War,Writtenby:SunTzu,Narratedby:PhillipJMather,1 hr and 8 mins,11-12-15,English,Not rated yet,333.00
27377,The Art of War,Writtenby:SunTzu,Narratedby:AidanGillen,1 hr and 7 mins,31-03-15,English,4 out of 5 stars511 ratings,333.00
27977,The Art of War,Writtenby:SunTzu,Narratedby:MelFoster,1 hr and 23 mins,06-12-16,English,4 out of 5 stars4 ratings,333.00
27995,The Art of War,Writtenby:SunTzu,Narratedby:DenmaTranslationGroup,3 hrs and 51 mins,12-08-16,English,5 out of 5 stars1 rating,501.00
29508,The Art of War,Writtenby:SunTzu,Narratedby:AlecSand,1 hr and 46 mins,18-09-09,English,4 out of 5 stars4 ratings,268.00
29673,The Art of War,Writtenby:SunTzu,"Narratedby:DonHagen,VictoriaGordon",6 hrs and 29 mins,22-09-11,English,3.5 out of 5 stars3 ratings,668.00
29777,The Art of War,"Writtenby:ThomasCleary-translator,SunTzu",Narratedby:LloydJames,1 hr and 54 mins,03-04-18,English,5 out of 5 stars6 ratings,377.00
30158,The Art of War,Writtenby:SunTzu,Narratedby:MikeBorris,1 hr and 48 mins,01-11-11,English,4 out of 5 stars1 rating,333.00
38116,The Art of War,"Writtenby:IntroductionbyStefanRudnicki,SunTzu","Narratedby:RonSilver,B.D.Wong",2 hrs and 15 mins,16-12-99,English,5 out of 5 stars1 rating,333.00
38227,The Art of War,Writtenby:SunTzu,Narratedby:SethThompson,6 hrs and 35 mins,01-04-20,English,2 out of 5 stars2 ratings,258.00
38355,The Art of War,Writtenby:SunTzu,Narratedby:GrainneRegan,1 hr and 9 mins,12-12-18,English,Not rated yet,65.00
38779,The Art of War,Writtenby:SunTzu,Narratedby:KennethElliot,1 hr and 22 mins,04-03-20,English,4.5 out of 5 stars2 ratings,32.00
38849,The Art of War,Writtenby:SunTzu,Narratedby:DanStrutzel,1 hr and 38 mins,28-04-21,English,Not rated yet,"1,003.00"
38961,The Art of War,Writtenby:SunTzu,Narratedby:GabraZackman,1 hr and 42 mins,07-01-20,English,Not rated yet,702.00
39224,The Art of War,"Writtenby:LionelGilestranslator,SunTzu",Narratedby:DenisDaly,1 hr and 23 mins,31-07-17,English,Not rated yet,333.00
40227,The Art of War,Writtenby:SunTzu,Narratedby:JimDonaldson,1 hr and 13 mins,11-08-11,English,Not rated yet,333.00
40299,The Art of War,Writtenby:SunTzu,Narratedby:ElizabethAnneHarris,1 hr and 12 mins,23-07-21,English,Not rated yet,132.00
41246,The Art of War,Writtenby:SunTzu,Narratedby:SimonVance,2 hrs and 6 mins,13-08-19,English,Not rated yet,456.00
41545,The Art of War,Writtenby:SunTzu,Narratedby:MikeVendetti,1 hr and 12 mins,13-03-20,English,Not rated yet,286.00
65687,The Art of War,Writtenby:SunTzu,Narratedby:PaulSpera,1 hr and 8 mins,21-02-18,English,Not rated yet,233.00

In [415]:
audio['name'].duplicated().sum()

4722

In [416]:
audio[audio['name'].duplicated()]['name'].value_counts()

name
The Art of War          19
Sterling Biographies    18
The Odyssey             15
Sterling Point Books    15
Hamlet                  14
                        ..
Iliade                   1
Odissea                  1
Iliad                    1
The Three Sisters        1
Solo                     1
Name: count, Length: 3230, dtype: int64

In [417]:
audio[audio['language'] =='Hindi']

,name,author,narrator,time,releasedate,language,stars,price
35,The Adventures of Rusty,Writtenby:RuskinBond,Narratedby:NehaGargava,5 hrs and 41 mins,01-11-18,Hindi,4.5 out of 5 stars10 ratings,284.00
1465,The Crow and the Cobra (Hindi Edition),Writtenby:MaplePress,Narratedby:ChaitaliGupta,3 mins,23-09-21,Hindi,4.5 out of 5 stars2 ratings,139.00
1469,The Friendly Rats (Hindi Edition),Writtenby:MaplePress,Narratedby:ChaitaliGupta,3 mins,23-09-21,Hindi,Not rated yet,139.00
1475,The Elephant and the Sparrow (Hindi Edition),Writtenby:MaplePress,Narratedby:ChaitaliGupta,4 mins,23-09-21,Hindi,Not rated yet,139.00
1476,The Wise Rabbit (Hindi Edition),Writtenby:MaplePress,Narratedby:ChaitaliGupta,4 mins,23-09-21,Hindi,Not rated yet,139.00
...,...,...,...,...,...,...,...,...
80034,Varunputri (Hindi Edition),Writtenby:NarendraKohli,Narratedby:AshwiniWalia,3 hrs and 36 mins,18-01-19,Hindi,4.5 out of 5 stars8 ratings,209.00
86202,Hamsafar Everest (Hindi Edition),Writtenby:NeerajMusafir,Narratedby:ShashiChaturvedi,7 hrs and 53 mins,25-02-21,Hindi,5 out of 5 stars10 ratings,668.00
86204,Innerline Pass (Hindi Edition),Writtenby:UmeshPant,Narratedby:AkshayGandhi,4 hrs and 53 mins,27-09-19,Hindi,4.5 out of 5 stars15 ratings,161.00
86777,America Aur 45 Din [America in 45 Days],Writtenby:SonroopaVishal,Narratedby:SarikaRathore,3 hrs and 10 mins,25-02-21,Hindi,5 out of 5 stars3 ratings,501.00
86969,Ateet Ka Darwaza,Writtenby:AsgharWajahat,Narratedby:SurjanSingh,3 hrs,12-09-19,Hindi,4 out of 5 stars2 ratings,218.00

In [418]:
df = audio.copy()
import datetime as dt

### realease date and price in the their suitable datatype

In [419]:
# code 
df['releasedate'] = pd.to_datetime(df['releasedate'],dayfirst=True,errors='coerce')

C:\Users\mehta\AppData\Local\Temp\ipykernel_15180\242445922.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['releasedate'] = pd.to_datetime(df['releasedate'],dayfirst=True,errors='coerce')

In [420]:
df['price'] = df['price'].str.replace(',','') 
df['price'] = df['price'].replace('free','0')
df['price'] = pd.to_numeric(df['price'] , errors='coerce')

In [421]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  datetime64[ns]
 5   language     87489 non-null  object
 6   stars        87489 non-null  object
 7   price        87151 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 5.3+ MB

## time should be in their correct form

In [422]:
# code
df[['hours','minute']] = df['time'].str.extract(r'(?:(\d+)\s*hr)?.*?(\d+)\s*min')
df[['hours','minute']] = df[['hours','minute']].fillna(0).astype('int')
df['time'] = df['hours']*60 +df['minute']

In [423]:
df.drop(columns=['hours','minute'],inplace=True)

In [424]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  int32
 4   releasedate  87489 non-null  datetime64[ns]
 5   language     87489 non-null  object
 6   stars        87489 non-null  object
 7   price        87151 non-null  float64
dtypes: datetime64[ns](1), float64(1), int32(1), object(5)
memory usage: 5.0+ MB

In [425]:
df['stars']

0           5 out of 5 stars34 ratings
1         4.5 out of 5 stars41 ratings
2         4.5 out of 5 stars38 ratings
3         4.5 out of 5 stars12 ratings
4        4.5 out of 5 stars181 ratings
                     ...
87484                    Not rated yet
87485                    Not rated yet
87486                    Not rated yet
87487                    Not rated yet
87488                    Not rated yet
Name: stars, Length: 87489, dtype: object

## star and rating should be in different cols

In [426]:

df['ratings']=df['stars'].str.split().str.get(0).str.replace('Not','not rated').astype('object')
rating_map = {
    "1": "Poor",
    "2": "Fair",
    "3": "Good",
    "4": "Very Good",
    "5": "Excellent",
    "not rated": "Unrated"
}

df['ratings'] = df['ratings'].map(rating_map).fillna(df['ratings'])

In [427]:
df['num_ratings'] = df['stars'].str.extract(r'(\d+)\s*ratings')
df['num_ratings'] = pd.to_numeric(df['num_ratings'],errors='coerce').fillna(0).astype('int')

In [428]:
df.drop(columns=['stars'],inplace=True)

## narrator should be in correct form

In [429]:
df['narrator']=df['narrator'].str.split(':').str.get(1)

In [430]:
df['narrator'] = (
    df['narrator']
    .str.replace(r'([A-Z])', r' \1', regex=True)
    .str.strip()
)

## author should be in correct form

In [431]:
df['author'] = df['author'].str.split(':').str.get(-1).str.strip()

In [432]:
df['author'] = df['author'].str.replace(r'([A-Z])', r' \1', regex=True).str.strip()

In [433]:
df['author']

0        Geronimo Stilton
1            Rick Riordan
2             Jeff Kinney
3            Rick Riordan
4            Rick Riordan
               ...
87484       Chris Stewart
87485     Stephen O' Shea
87486          Mark Twain
87487     Laurence Sterne
87488      Mark Kurlansky
Name: author, Length: 87489, dtype: object

In [434]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  int32
 4   releasedate  87489 non-null  datetime64[ns]
 5   language     87489 non-null  object
 6   price        87151 non-null  float64
 7   ratings      87489 non-null  object
 8   num_ratings  87489 non-null  int32
dtypes: datetime64[ns](1), float64(1), int32(2), object(5)
memory usage: 5.3+ MB

#### Handling Missing Values in `price`
The `price` column had only 0.386% missing values. Since this is negligible, I imputed them using the median (585), which is robust against outliers and preserves the central tendency.

In [435]:
df['price'] = df['price'].fillna(df['price'].median())

In [436]:
df

,name,author,narrator,time,releasedate,language,price,ratings,num_ratings
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,140,2008-08-04,English,468.0,Excellent,34
1,The Burning Maze,Rick Riordan,Robbie Daymond,788,2018-05-01,English,820.0,4.5,41
2,The Deep End,Jeff Kinney,Dan Russell,123,2020-11-06,English,410.0,4.5,38
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,676,2021-10-05,English,615.0,4.5,12
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,0,2010-01-13,English,820.0,4.5,181
...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Chris Stewart,Chris Stewart,454,2017-03-09,English,596.0,Unrated,0
87485,The Alps,Stephen O' Shea,Robert Fass,607,2017-02-21,English,820.0,Unrated,0
87486,The Innocents Abroad,Mark Twain,Flo Gibson,1144,2016-12-30,English,938.0,Unrated,0
87487,A Sentimental Journey,Laurence Sterne,Anton Lesser,248,2011-02-23,English,680.0,Unrated,0
87488,Havana,Mark Kurlansky,Fleet Cooper,361,2017-03-07,English,569.0,Unrated,0

In [437]:
df.to_csv('clean_audio_dataset.csv',index=False)

In [438]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  int32
 4   releasedate  87489 non-null  datetime64[ns]
 5   language     87489 non-null  object
 6   price        87489 non-null  float64
 7   ratings      87489 non-null  object
 8   num_ratings  87489 non-null  int32
dtypes: datetime64[ns](1), float64(1), int32(2), object(5)
memory usage: 5.3+ MB